	</main>
	<script type="text/template" id="my-custom-menu-template">
    <div class="my-custom-menu">
      <div class="row">
        <div class="col-sm-12">
          <div class="aa-dataset-d1"></div>
        </div>
      </div>
    </div>
  </script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.0.2/dist/instantsearch.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.0.2/dist/instantsearch.min.js"></script>
	<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
	<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.0.2/dist/instantsearch-theme-algolia.min.css">
	<script src="{{ .Site.BaseURL }}js/search.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:100+200,300,400,700" rel="stylesheet">
  <link href="{{ .Site.BaseURL }}css/main.css" rel="stylesheet">
</body>
</html>