{{ partial "header" . }}


<header class="row">
	<div class="searchbox-container" style="width: 100%; max-width: 100%;">
		<div class="input-group" style="width: 100%">
			<input type="text" class="form-control" id="q" style="width: 100%">
		</div>
	</div>
</header>
<div class="container">
	<div class="row">

		<div class="col-sm-3">
			<h5><i class="fa fa-chevron-right"></i> Company</h5>
			<div id="company"></div>
			<h5><i class="fa fa-chevron-right"></i> Console</h5>
			<div id="console"></div>
			<h5><i class="fa fa-chevron-right"></i> Language</h5>
			<div id="language"></div>
			<hr>
			Powered by
			<a href="https://www.algolia.com/referrals/857815b9/join"><img src="/img/algolia.svg" style="width: 30%;"></a>
			<div class="github"><a href="https://github.com/silsha/videogame-vhs"><i class="fa fa-github"></i> Github</a></div>
		</div>
		<div class="col-sm-9">
			<div id="stats" class="text-right text-muted"></div>
			<hr />
			<div id="hits"></div>
			<div id="pagination" class="text-center"></div>
		</div>

	</div>
</div>
{{ partial "footer" . }}